body {
	margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}





/*********************** burger menu start *******************************/


.hidden {
	display: none;
}

.overflow {
	overflow: hidden;

}

.background {
	background-color: #EAE9E1;
}

.burgermenu {
	position: fixed;
}

#menuknap {
	display: inline-block;
	position: relative;
	right: 1em;
	font-size: 1.5em;
	top: 0em;
	color: black;
	z-index: 2;
	font-family: arial;
	cursor: pointer;

}

.logo_burger {
	position: absolute;
	left: 1em;
	top: 1em;
	width: 125px;
}

#menu {
	/*    display: grid;*/
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 20px;
	grid-template-rows: 1fr 180px;
	right: 1.5em;
	padding-top: 8em;
	list-style-type: none;
	width: 100vw;
	z-index: 1;
	color: #efeded;
	text-align: right;
	height: 100%;
	text-transform: uppercase;
	line-height: 2.5em;
	font-family: europa, sans-serif;
	font-weight: 600;
	font-style: normal;
	letter-spacing: 0.1em;
	height: 100vh;
}

.burgermenu-punkter {
	margin-right: 2em;
}

.some_burger {
	margin-right: 2em;
	margin-top: 3em;
}

nav {
	text-align: right;
	height: auto;
	min-height: 4em;
	line-height: 4em;
	width: 100%;


	position: absolute;
	z-index: 2;
}


.some_burger a {
	font-size: 1.5em;
}

.desktop_menu a {
	color: black;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.5em;
}


#menu a:hover {
	color: #4d4c4c;
}

.fa {
	color: black;
}

@media screen and (min-width: 1000px) {

	.burgermenu {
		display: none;
	}
}


/*********************** burger menu slut *******************************/



body {
	margin: 0;
}


.header-menu {
	margin-top: 8em;

}

.desktop_menu {
	padding: 0;
	display: none;

}

.desktop_menu li {
	list-style-type: none;
	font-family: europa, sans-serif;
	font-weight: 600;
	font-style: normal;
	text-transform: uppercase;
	line-height: 2em;
	letter-spacing: 0.1em;
	font-size: 1em;

}

.desktop_menu a {
	font-size: 0.6em;
}

.desktop_menu a:hover {
	color: #535353;
}

.some_desktop {
	font-size: 0.6em;
	grid-row: 5/6;
	margin-left: 3em;
	display: none;
}

.fa {
	padding: 0.1em;
}

.logo_desktop {
	position: absolute;
	left: 1em;
	top: 1em;
	width: 125px;
}


/* ---------MENU---------- */


/*
nav {
    text-align: right;
    height: auto;
    min-height: 4em;
    line-height: 4em;
    width: 100%;


    position: absolute;
    z-index: 2;
}


.menu {
    margin: 0 2.2em 0 0;
    color: black;



}

.menu a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
    clear: right;
    color: black;
}

.menu a:hover {
    color: rgb(56, 126, 118);

}

.menu span {
    color: black;
    float: left;
    margin: 0 0 0 30px;
    font-size: 18px;

}

label {
    margin: 0 0 0 1em;
    font-size: 2em;
    line-height: 2em;
    display: none;
    width: 26px;
    float: left color: black;

}

#toggle {
    display: none;
}

.wrapper {
    display: flex;
}
*/

.header-menu {
	display: none;
}

.post1_tekst {
	margin-top: 10em;
}

.dato {
	text-transform: uppercase;
	font-size: 0.8em;
}

.titel {
	text-transform: uppercase;
}



footer {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	background-color: #DED7CE;
	font-family: europa, sans-serif;
	font-weight: 100;
	font-style: normal;

}

.logo_footer {
	width: 8em;
	margin: 1em;
}

footer div > ul li {
	list-style-type: none;
	color: black;
	font-size: 0.8em;
	line-height: 1.4em;
}

.footer-titel {
	font-weight: 600;
	font-size: 0.8em;
	text-transform: uppercase;
	line-height: 1.7em;
	letter-spacing: 0.1em;
}

.kontakt_footer a,
.presse_footer a,
.followus_footer a,
.projekter_footer a {

	text-decoration: none;
	color: black;
}

.projekter_footer {
	margin-top: 0em;
}

.nyhedsbrev_footer {
	margin-left: 2.5em;
	margin-top: 1em;

}

.copyright_footer {
	font-size: 0.7em;
	margin-left: 3.5em;
	margin-bottom: 5em;

}

.copyright_footer p {
	margin: 0;
}

.nyhedsbrev_footer p {
	font-weight: bold;
	margin: 0;
}

input[type=text] {
	width: 200px;
}

input[type=text],
input[type=submit] {
	background-color: #DED7CE;
	border: 0.5px solid black;
	padding: 8px;
	color: black;

}





@media only screen and (min-width: 1000px) {

	nav {
		width: 10em;
		height: 100vh;
		position: fixed;
	}

}

/* -------MENU-------- */

.grid-container > div {
	padding: 1.5em;
}

.grid-container {

	display: grid;
	grid-gap: 1px;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto auto auto auto auto auto auto auto;
}

.breaker {
	width: 80%;
	height: 1px;
	background-color: blue;
	margin: 2em 0;
	justify-self: center;

}


img {
	width: 100%;
	max-width: 600px;
	justify-self: center;
	text-align: center;
	align-self: center;

}








@media screen and (min-width: 700px) {

	.grid-container {
		grid-template-columns: 1fr 1fr;
		justify-items: center;

	}





	.breaker {
		grid-column: 1/3;

		justify-self: center;
	}

	img {
		max-width: 500px;
	}

	.post1_tekst {
		grid-column: 1/2;
	}

	.post1_billede {
		grid-column: 2/3;
		margin-top: 10em;
	}

	.post2_tekst {
		grid-column: 2/3;
	}

	.post2_billede {
		grid-column: 1/2;
		grid-row: 2/3;


	}





	@media screen and (min-width: 1000px) {

		.grid-container {
			grid-template-columns: 13em 1fr 1fr;
		}


		.header-menu {
			display: block;
			grid-column: 1/2;
			position: fixed;
		}

		.paragraph {
			line-height: 1.5em;
		}



		.post1_tekst {
			grid-column: 2/3;
		}

		.post1_billede {
			grid-column: 3/4;
		}

		.breaker {
			grid-column: 2/4;

		}

		.post2_tekst {
			grid-column: 3/4;
		}

		.post2_billede {
			grid-column: 2/3
		}



		.logo_desktop {
			position: fixed;
		}

		.desktop_menu {
			padding: 0;
			margin: 0;
			position: fixed;
			margin-top: 20vh;
			margin-left: -1em;
			display: block;
		}

		.some_desktop {
			padding: 0;
			margin: 0;
			position: fixed;
			margin-top: 95vh;
			margin-left: 3em;
			display: block;

		}

	}



	footer {
		display: grid;
		grid-gap: 10px;
		grid-template-columns: 1fr;
		background-color: #DED7CE;
		font-family: europa, sans-serif;
		font-weight: 100;
		font-style: normal;
		width: 100%;

	}

	.logo_footer {
		width: 8em;
		margin: 1em;
	}


	div > ul li {
		list-style-type: none;
		color: black;
		font-size: 0.8em;
		line-height: 1.4em;
	}


	.footer-titel {
		font-weight: 600;
		font-size: 0.8em;
		text-transform: uppercase;
		line-height: 1.7em;
		letter-spacing: 0.1em;
	}

	.kontakt_footer a,
	.presse_footer a,
	.followus_footer a,
	.projekter_footer a {

		text-decoration: none;
		color: black;
	}

	.projekter_footer {
		margin-top: 0em;
	}

	.nyhedsbrev_footer {
		margin-left: 2.5em;
		margin-top: 1em;

	}

	.copyright_footer {
		font-size: 0.7em;
		margin-left: 3.5em;
		margin-bottom: 5em;

	}

	.copyright_footer p {
		margin: 0;
	}

	.nyhedsbrev_footer p {
		font-weight: bold;
		margin: 0;
	}

	input[type=text] {
		width: 200px;
	}

	input[type=text],
	input[type=submit] {
		background-color: #DED7CE;
		border: 0.5px solid black;
		padding: 8px;
		color: black;

	}



	@media screen and (min-width: 700px) {

		footer {
			grid-column: 1/3;

			grid-template-columns: 10vw 1fr 1fr 10vw;

		}

		.logo_footer {
			grid-column: 2/3;
			margin-bottom: 3em;
		}

		.projekter_footer {

			grid-column: 2/3;
		}

		.presse_footer {
			grid-column: 2/3;
		}

		.nyhedsbrev_footer {
			grid-column: 2/4;
			margin-top: 2em;
		}

		.copyright_footer {
			grid-column: 2/4;
			margin-bottom: 10em;
			margin-top: 1em;
			margin-left: 3.5em;
		}

		.kontakt_footer {
			margin-left: 0;
		}

		.followus_footer {
			margin-left: 0em;
		}

		input[type=text] {
			width: 200px;
		}

	}

	@media screen and (min-width: 1000px) {



		footer {
			grid-column: 2/4;
			grid-template-columns: 5vw 1fr 1fr 1fr 1fr 5vw;
		}

		.logo_footer {
			grid-column: 2/3;
		}

		.projekter_footer {

			grid-column: 2/3;
			margin-top: 8em;
		}

		.kontakt_footer {
			margin-top: 8em;
		}

		.presse_footer {
			grid-column: 4/5;
			margin-top: 8em;
			margin-left: 3em;

		}

		.nyhedsbrev_footer {
			grid-column: 2/4;
			margin-top: 4.5em;
			margin-bottom: 5em;
		}


		.copyright_footer {
			grid-column: 4/6;
			margin-top: 8em;
			margin-bottom: 5em;
			text-align: right;
			margin-right: 5em;
		}

		.followus_footer {
			margin-top: 8em;
			margin-left: 5em;
		}

		input[type=text] {
			width: 200px;
		}

	}

	@media screen and (min-width: 1200px) {
		img {
			width: 100%;
			justify-self: center;
			text-align: center;
			align-self: center;
			margin: auto;

		}

		.paragraph {
			line-height: 2em;
		}
	}
