footer {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	background-color: #DED7CE;
	font-family: 'Raleway', sans-serif;

}

.logo_footer {
	margin-left: 2.5em;
	margin-top: 5em;
}

li {
	list-style-type: none;
	color: black;
	font-size: 0.8em;
	line-height: 1.4em;
}

.footer-titel {
	font-weight: 600;
	font-size: 0.9em;
	text-transform: uppercase;
	line-height: 1.7em;
}

a {

	text-decoration: none;
	color: black;
}

.projekter_footer {
	margin-top: 3em;
}

.nyhedsbrev_footer {
	margin-left: 2.5em;
	margin-top: 1em;

}

.copyright_footer {
	font-size: 0.7em;
	margin-left: 3.5em;
	margin-bottom: 5em;

}

.copyright_footer p {
	margin: 0;
}

.nyhedsbrev_footer p {
	font-weight: bold;
	margin: 0;
}

input[type=text] {
	width: 200px;
}

input[type=text],
input[type=submit] {
	background-color: #EAE9E1;
	border: 0.5px solid black;
	padding: 8px;
	color: black;

}



@media screen and (min-width: 700px) {

	footer {
		grid-template-columns: 10em 1fr 1fr 10em;
		grid-gap: 0;
	}

	.logo_footer {
		grid-column: 2/3;
		margin-bottom: 3em;
	}

	.projekter_footer {

		grid-column: 2/3;
	}

	.presse_footer {
		grid-column: 2/3;
	}

	.nyhedsbrev_footer {
		grid-column: 2/4;
		margin-top: 2em;
	}

	.kontakt_footer {
		margin-top: 3em;
	}

	.copyright_footer {
		grid-column: 2/4;
		margin-bottom: 10em;
		margin-top: 1em;
		margin-left: 3.5em;
	}

	.kontakt_footer {
		margin-left: 0;
	}

	.followus_footer {
		margin-left: 0em;
	}

	input[type=text] {
		width: 200px;
	}

}

@media screen and (min-width: 1000px) {

	footer {
		grid-template-columns: 10em 1fr 1fr 1fr 1fr 10em;
	}

	.logo_footer {
		grid-column: 2/3;
		margin-left: 2.5em;
	}

	.projekter_footer {

		grid-column: 2/3;
		margin-top: 8em;
	}

	.kontakt_footer {
		margin-top: 8em;
	}

	.presse_footer {
		grid-column: 4/5;
		margin-top: 8em;
		margin-left: 3em;

	}

	.nyhedsbrev_footer {
		grid-column: 2/4;
		margin-top: 4.5em;
		margin-bottom: 5em;
	}


	.copyright_footer {
		grid-column: 4/6;
		margin-top: 8em;
		margin-bottom: 5em;
		text-align: right;
		margin-right: 5em;
	}

	.followus_footer {
		margin-top: 8em;
		margin-left: 5em;
	}

	input[type=text] {
		width: 200px;
	}

}


@media screen and (min-width: 1300px) {
	input[type=text] {
		width: 250px;
	}

}
