body {
	margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}


img {
	width: 100%
}

/*********************** burger menu start *******************************/


.hidden {
	display: none;
}

.overflow {
	overflow: hidden;

}

.background {
	background-color: #EAE9E1;
}

.burgermenu {
	position: fixed;
}

#menuknap {
	display: inline-block;
	position: relative;
	right: 1em;
	font-size: 1.5em;
	top: 0em;
	color: black;
	z-index: 2;
	font-family: arial;
	cursor: pointer;

}

.logo_burger {
	position: absolute;
	left: 1em;
	top: 1em;
	width: 125px;
}

#menu {
	/*    display: grid;*/
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 20px;
	grid-template-rows: 1fr 180px;
	right: 1.5em;
	padding-top: 5em;
	list-style-type: none;
	width: 100vw;
	z-index: 1;
	color: #efeded;
	text-align: right;
	height: 100%;
	line-height: 2.5em;
	font-family: europa, sans-serif;
	font-weight: 600;
	font-style: normal;
	height: 100vh;
}

.burgermenu-punkter {
	margin-right: 2em;
}

.some_burger {
	margin-right: 2em;
	margin-top: 3em;
}


.some_burger a {
	font-size: 1.5em;
}

a {
	color: black;
	text-decoration: none;
	font-weight: bolder;
	font-size: 1.7em;
}


#menu a:hover {
	color: #4d4c4c;
}

.fa {
	color: black;



}

@media screen and (min-width: 1000px) {

	.burgermenu {
		display: none;
	}
}


/*********************** burger menu slut *******************************/


/*********************** Header menu start *******************************/



.header-menu {
	margin-top: 8em;

}

.desktop_menu {
	padding: 0;
	display: none;

}

.desktop_menu li {
	list-style-type: none;
	font-family: europa, sans-serif;
	font-weight: bolder;
	font-style: normal;
	line-height: 1.5em;
	font-size: 1.5em;

}

.desktop_menu a {
	font-size: 0.6em;
}

.desktop_menu a:hover {
	color: #535353;
}

.some_desktop {
	font-size: 0.7em;
	grid-row: 5/6;
	display: none;
}

.fa {
	padding: 0.1em;
}

.logo_desktop {
	position: absolute;
	left: 1.5em;
	top: 1.5em;
	width: 125px;
}


nav {
	text-align: right;
	height: auto;
	min-height: 4em;
	line-height: 4em;
	width: 100%;


	position: absolute;
	z-index: 2;
}


/*********************** Header menu slut *******************************/



/*********************** Main start *******************************/
/*Dias start*/

.mySlides {
	display: none;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #BF9775;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

/* The dots/bullets/indicators */
.dot {
	cursor: pointer;
	height: 15px;
	width: 15px;
	margin: 0 2px;
	background-color: #E4DED2;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.active,
.dot:hover {
	background-color: #BF9775;
}

/* Fading animation
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
*/
@-webkit-keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

@keyframes fade {
	from {
		opacity: .4
	}

	to {
		opacity: 1
	}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

	.prev,
	.next,
	.text {
		font-size: 11px
	}
}


/*Dias slut*/

.grid-container {

	display: grid;
	grid-gap: 1px;
	grid-template-columns: 1fr;
	grid-template-rows: 8em 0em 0em 15em;
	background-color: #E1D9CF;
	font-family: europa, sans-serif;
}


h1 {
	font-weight: normal;
}

.splash {
	display: none;
}

.produkt_titel {
	z-index: 3;
	grid-row: 1/2;
	margin-left: 1em;
	margin-top: 5em;
	font-size: 1.5em;
}

.diasshow {
	grid-row: 1/2;
}

.produkt_info {
	grid-row: 4/5;
	margin: 2em;

}

.produkt_købknap {
	border: 1px solid black;
	text-align: center;
	vertical-align: middle;
}

.produkt_farver {
	display: flex;
	flex-direction: row;
	height: 50px;
	width: 50px;
	margin: 2em 2em 2em 0em;
}

.produkt_infoknap {
	font-weight: 500;
}

.produkt_pris_detaljer {
	display: flex;
	flex-direction: row;
}

.produkt_pris {
	justify-self: start;
}


.produkt_baggrund {
	/*
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
*/
	background-color: #2e327c;
	grid-row: 6/10;
	margin: 2em;
}

/*********************** Main slut *******************************/


@media screen and (min-width: 700px) {}

@media screen and (min-width: 1000px) {


	.grid-container {
		grid-template-columns: 13em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 12em 12em 10em 10em 10em;
		background-color: transparent;
	}

	.splash {
		grid-column: 2/13;
		grid-row: 1/1;
	}


	.header-menu {
		display: block;
		grid-column: 1/2;
		position: fixed;
	}



	.logo_desktop {
		position: fixed;
	}

	.desktop_menu {
		padding: 0;
		margin: 0;
		position: fixed;
		margin-top: 20vh;
		margin-left: -1em;
		display: block;
	}

	.some_desktop {
		padding: 0;
		margin: 0;
		position: fixed;
		margin-top: 95vh;
		margin-left: 3em;
		display: block;

	}

	nav {
		width: 10em;
		height: 100vh;
		position: fixed;
	}

	.produkt_baggrund {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr auto auto auto auto auto auto auto auto auto auto 1fr;
		grid-column: 3/9;
		grid-row: 1/7;
		z-index: 2;
		margin: 0;
	}

	.produkt_titel {
		grid-column: 8/11;
		grid-row: 1/2;
		font-size: 3em;
		margin-top: 1em;

	}

	.produkt_titel h1 {
		position: fixed;
	}

	.produkt_farver img {
		width: 40px;
	}

	.produkt_info {
		/*
		grid-column: 10/13;
		grid-row: 2/3;
*/
		position: fixed;
		z-index: 3;
		text-align: right;
		left: 75vw;
		top: 35vh;
	}

	.produkt_prisdeltajer {
		margin-left: 4em;
	}

	.splash {
		display: inherit;
	}

	#splashbillede {
		position: fixed;
	}


	.logo_desktop {
		top: 3em;
	}

	.diasshow {
		grid-column: 1/6;
		grid-row: 1/2;
	}

	#tekst1 {
		margin: 2em;
		margin-right: em;
		grid-row: 2/3;
		grid-column: 1/5;
	}


	#tekst2 {
		grid-row: 3/4;
		grid-column: 3/6;
		margin: 2em;
	}

	.cocoon_billede1 {
		grid-row: 4/5;
		grid-column: 1/4;
		margin: 2em;
	}

	#cocoon_billede2 {
		grid-row: 4/5;
		grid-column: 4/6;
		margin-top: 14em;
		margin-right: 2em;
	}

	.hook_billede {
		grid-row: 6/7;
		grid-column: 1/6;
		margin-top: 2em
	}

	.produkt_baggrund h3 {
		grid-row: 7/8;
		grid-column: 1/4;
		margin: 1em;
		font-size: 3em;
	}

	#tekst3 {
		grid-row: 8/9;
		grid-column: 2/5;
	}

	.cocoon_billede3 {
		grid-row: 10/11;
		grid-column: 3/6;
		margin: 2em;

	}

	#tekst4 {
		grid-row: 11/12;
		grid-column: 2/5;
		margin: 0 2em 2em 2em;
	}


}

@media screen and (min-width: 1300px) {
	input[type=text] {
		width: 250px;
	}

	.produkt_farver img {
		width: 50px;
	}


	.produkt_prisdeltajer {
		margin-left: 7em;
	}



}
