body {
    margin: 0;
}

header {
    background-color: whitesmoke;
    height: 100vh;
    width: 100px;
    position: fixed;
}

.video-background {
    position: absolute;
    width: 100%;
    left: 100px;
}
